.SearchResults {
    max-height: 100vh;
    overflow-y: scroll;
    padding: .88rem;
    background-color: hsla(311, 64%, 50%, .4);
    box-shadow: 0 4px 2px 2px #000000;
}

::-webkit-scrollbar {
    background: transparent;
}