body {
   background-image: url('/public/headphoneBackground.png');
   background-size: contain;
}

/* ───────────────────────────────
   Palette Reference
─────────────────────────────── */
/*
Theme Colors
- #e5c5ba hsl(15, 45%, 81%) pinkish-beige
- #3dc091 sageish, light green
- #8d4f5e light maroon
- #1e131c almost black purple
- #d130b3 hsl(311, 64%, 50%) hot pink
- #1f6c4a dark sage green
- #513f6a saturated pale plum
- #9f21a3 hot plum
- #5e2740 burgundy
- #431448 dark purplish plum
*/