.App {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  height: 100%;
  padding: 0 17% 10% 17%;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #5e2740 !important;
  background-color: #e5c5ba;
  border-radius: 10px 100px / 120px;
  opacity: 90%;
  padding: 1%;
  text-decoration: none !important;
  margin-left: 1.5%;
  margin-top: 1.5%;
  display: inline-flex;
  flex-wrap: wrap;
}

a:hover {
  color: #f9f9f9 !important;
  background-color: hsl(311, 64%, 50%, .6);
}

h1 {
  top: 2px;
  left: 2.5%;
  padding: 1% !important;
  background-color: #010c3f;
  text-align: center;
  font-size: 1.88rem;
  font-size: 3.2em;
  line-height: 1.1;
  width: 100%;
  color: #e5c5ba !important;
  text-shadow:
    3px 3px 0 #431448,
    -3px 3px 0 #431448,
    -3px -3px 0 #431448,
    3px -3px 0 #431448;
  border-radius: 10px 100px / 120px;
  letter-spacing: .2rem;
}

/* h1 .highlight {
  color: #6c41ec;
} */

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header,
.footer {
  color: #e5c5ba;
  text-shadow:
    1px 1px 0 #431448,
    -1px 1px 0 #431448,
    -1px -1px 0 #431448,
    1px -1px 0 #431448;
  position: absolute;
  background-color: hsl(311, 64%, 50%, .5);
  padding: 15px;
}

footer {
  position: fixed;
  left: 1%;
  bottom: 1%;
  width: 100%;
  margin: 7px;
  color: #513f6a !important;
  letter-spacing: .2rem;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}

/*
https://imagecolorpicker.com
Theme Colors

- #e5c5ba hsl(15, 45%, 81%)
- #3dc091
- #8d4f5e
- #1e131c
- #d130b3 hsl(311, 64%, 50%)
- #1f6c4a
- #513f6a
- #9f21a3
- #5e2740
- #431448

https://htmlcolors.com/hex-to-hsl
*/