#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url('src/assets/jammingBackground.png');
  background-repeat: no-repeat;
  background-position: right;
  background-color: #431448;
  background-size: 100%;
}

h1 {
  color: #e5c5ba;
  text-shadow:
    3px 3px 0 #431448,
    -3px 3px 0 #431448,
    -3px -3px 0 #431448,
    3px -3px 0 #431448;
  position: absolute;
  top: 0px;
  left: 2.5%;
}

input {
  padding: 2.5% 1% 2.5%;
  margin-bottom: 5%;
  font-size: large;
}

.header,
.footer {
  color: #e5c5ba;
  text-shadow:
    0px 1px 0 #431448,
    -1px 1px 0 #431448,
    -1px -1px 0 #431448,
    0px -1px 0 #431448;
  position: absolute;
  background-color: hsl(311, 64%, 50%, .5);
  padding: 15px;
}

.header {
  top: 0px;
  right: 0.5%;
}

.footer {
  bottom: 0px;
  left: 0.5%;
}

.header a,
.footer a {
  text-decoration: none;
  margin: 7px;
  color: #513f6a;
  letter-spacing: .2rem;
}

.header a:hover,
.footer a:hover {
  background-color: hsl(15, 45%, 81%, .3);
  border-radius: 46%;
  padding: 5px 0px 5px;
}

/*
https://imagecolorpicker.com
Theme Colors

- #e5c5ba hsl(15, 45%, 81%)
- #3dc091
- #8d4f5e
- #1e131c
- #d130b3 hsl(311, 64%, 50%)
- #1f6c4a
- #513f6a
- #9f21a3
- #5e2740
- #431448

https://htmlcolors.com/hex-to-hsl
*/