:root {
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url('src/assets/jammingBackground.png');
  background-repeat: no-repeat;
  background-position: right;
  background-color: #431448;
  background-size: 100%;
  color: #e5c5ba;
  display: flex;
  font-family: 'Rubik', sans-serif;
  min-width: 320px;
  min-height: 100vh;
}

html {
  font-size: 18px;
}